                    <div class="col-md-4 col-sm-12">
                        <div class="iq-post-sidebar">

<!--
                            <div class="iq-sidebar-widget">
                                <h4 class="iq-widget-title heading-left iq-tw-6">Search here</h4>
                                <div class="iq-widget-search"> <i class="fa fa-search"></i>
                                    <input type="search" placeholder="Search...." class="form-control placeholder">
                                </div>
                            </div>




                                    A CERCA DEL BLOG

-->

                            <div class="iq-sidebar-widget iq-mt-40">
                                <h4 class="iq-widget-title heading-left iq-tw-6">Nuestro Blog</h4>
                                <p> Este es un trabajo de Sindicalizapp, en beneficio de sindicatos y organizaciones sin fines de lucro.</p>
                            </div>



<!--
                                    CATEGORIAS




                            <div class="iq-sidebar-widget">
                                <h4 class="iq-widget-title heading-left iq-tw-6">Categories</h4>
                                <div class='iq-widget-menu'>
                                    <ul>
                                        <li><a href='#'><span>Photography</span></a></li>
                                        <li><a href='#'><span>Nature <i class="fa fa-angle-right"></i></span></a>
                                            <ul>
                                                <li><a href='#'><span>Nature</span> </a></li>
                                                <li><a href='#'><span>Measures</span></a></li>
                                                <li><a href='#'><span>Weddings </span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href='#'><span>Advertisements <i class="fa fa-angle-right"></i></span></a>
                                            <ul>
                                                <li><a href='#'><span>Weddings </span></a></li>
                                                <li><a href='#'><span>Landscape </span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href='#'><span>Landscape </span></a></li>
                                    </ul>
                                </div>
                            </div>



                                        POST RECIENTES




                            <div class="iq-sidebar-widget">
                                <h4 class="iq-widget-title heading-left iq-tw-6">Recent Posts</h4>
                                <div class="iq-recent-post">
                                    <div class="media">
                                        %= image_tag("blog/06.jpg", class:"mr-3")%>
                                        <div class="media-body">
                                            <a href="javascript:void(0)">Proin gravida velit auctor.</a><span><i class="fa fa-calendar"></i> September 30, 2017</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="iq-recent-post">
                                    <div class="media">
                                        %= image_tag("blog/07.jpg", class:"mr-3")%>s
                                        <div class="media-body">
                                            <a href="javascript:void(0)">Proin gravida velit auctor.</a><span><i class="fa fa-calendar"></i> September 30, 2017</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="iq-recent-post">
                                    <div class="media">
                                        %= image_tag("blog/08.jpg", class:"mr-3")%>
                                        <div class="media-body">
                                            <a href="javascript:void(0)">Proin gravida velit auctor.</a><span><i class="fa fa-calendar"></i> September 30, 2017</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="iq-recent-post">
                                    <div class="media">
                                        %= image_tag("blog/09.jpg", class:"mr-3")%>
                                        <div class="media-body">
                                            <a href="javascript:void(0)">Proin gravida velit auctor.</a><span><i class="fa fa-calendar"></i> September 30, 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>




                                        TAGS




                            <div class="iq-sidebar-widget">
                                <h4 class="iq-widget-title heading-left iq-tw-6">Tags</h4>
                                <ul class="iq-tags list-inline">
                                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                                    <li><a href="javascript:void(0)">HTML5</a></li>
                                    <li><a href="javascript:void(0)">Wordpress</a></li>
                                    <li><a href="javascript:void(0)">CSS3</a></li>
                                    <li><a href="javascript:void(0)">Creative</a></li>
                                    <li><a href="javascript:void(0)">Multipurpose</a></li>
                                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                                    <li><a href="javascript:void(0)">HTML5</a></li>
                                    <li><a href="javascript:void(0)">Wordpress</a></li>
                                </ul>
                            </div>



                                        META


                            <div class="iq-sidebar-widget">
                                <h4 class="iq-widget-title heading-left iq-tw-6">Meta</h4>
                                <ul class="iq-widget-archives">
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Log in</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Entries RSS</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Comments RSS </a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> September 2015</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> WordPress.org</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                                        SELECTOR DE PAGINAS



                <div class="row iq-mt-80">
                    <div class="col-sm-12">
                        <nav aria-label="">
                            <ul class="pagination  justify-content-center">
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item active">
                                    <span class="page-link">
                                    2
                                    <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">Next</a>
                                </li>
                            </ul>
                        </nav>

-->
                        </div>
                    </div>